<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="LTSuite">
  <test thread-count="5" name="LTTest">
    <classes>
      <class name="tests.TestScenario2"/>
      <class name="tests.TestScenario1"/>
      <class name="tests.TestScenario3"/>
    </classes>
  </test> <!-- LTTest -->
</suite> <!-- LTSuite -->
